*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/* Main containers for aligning all content to the mentioned width */

.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Nav Bar Section */


/* target overall nav bar */
.nav-bar{
    background-color: #1f2937;
    color: #ffff;
    height: 100px;
    padding-top: 50px;
}

.nav-bar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    
}

.nav-bar .logo{
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    color: #f9faf8;
}
.nav-bar ul{
    list-style-type: none;
    display: flex;
    
}

.nav-bar li{
    margin: 20px;
}



/* Header Section */


/* targetning overall head */
.head{
    background-color: #1f2937;
    color: white;
    height: 600px;
    padding: 40px;
    flex: 1;
}

.head .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

.head .head-section{
    flex: 1;
    padding-right: 20px;
    
}

.head-section h1{
    line-height: 1.2;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8
}

.head-section p{
    max-width: 65%;
    line-height: 1.6;
    margin-bottom: 20px;
}

.head-section .btn{
    padding: 20px 40px; 
    background-color: #3882f6; 
    color: #fff; 
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;  
}


/* hero image setting */

.head-image img{
    width: 800px;
    height: 300px;
    opacity: 0.9; /* Adjust the opacity as needed */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


/* Information Seciton */

.information h2{
    text-align: center;
    margin: 100px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}


/* set the width fo restraining boxes */

.information .container{
    width: 1100px;
}

.information .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 0 0%;
}

.boxes .box img {
    width: 180px;
    height: 180px;
    margin-bottom: 5px;
    border-radius: 20px;
}


/* text not align as per the box image - need to fix this in the future */
.box p{
    width: 80%;
    margin-bottom: 150px;
    text-align: center;
    color: black;
}


/* Quote Area */

.quote {
    height: 400px;
    width: 100%;
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.quote .container{
    width: 1100px;
}

.quote  .great{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

.quote .said{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}

/* Call to Action */
.call-to-action .container{
    width: 1100px;
}

.call-to-action{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-wrapper{
    display: flex;
    justify-content: space-between ;
    background-color: #3882f6;
    height: 90px;
    align-items: center;
    padding: 70px;
    flex: 1;
    gap: 80px;
    border-radius: 10px;
}

.cta-wrapper .call-heading h3{
    color: #f9faf8;
    margin-bottom: 8px;
}

.cta-wrapper .call-heading p{
    color: #E5E7EB;
}

.cta-wrapper .sign-up button{
    padding: 20px 40px; 
    background-color: #3882f6; 
    color: #fff; 
    border: 2px solid #E5E7EB;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}

/* footer */


.copyright{
    height: 80px;
    background-color: #1f2937;
    color: #f9faf8;
    font-weight: 300;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}